.npd-container {
  width: 600px;
  height: 200px;
  position: relative;
}

.npd-form-container {
  display: flex;
  flex-direction: column;
}

.npd-input {
  max-width: 300px;
}

.npd-dialog-actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
}