<div *ngIf="balanceList" class="bd-container">
  <p mat-dialog-title>Balance de cuidados</p>
  <mat-dialog-content>
    <mat-list role="list" *ngFor="let balance of balanceList | keyvalue" class="bd-list-container">
      <mat-list-item role="listItem">
        <span class="bd-data-key">{{balance.key}}:</span>
        <span class="bd-data-value"[class.bd-positive-number]="(balance.value > 0)" [class.bd-negative-number]="(balance.value < 0)">{{transformMinute(balance.value)}}</span>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  <button mat-raised-button mat-dialog-close class="bd-dialog-actions">Cerrar</button>
</div>
