.optionsBar {
  display: flex;
  background-color: #fca311;
  justify-content: space-between;
  color: white;
  padding: 20px;
  height: 75px;
}

.ob-button-parent {
  margin: 20px;
  background-color: #14213d;
  color: white;
}

.ob-button-care {
  background-color: #14213d;
  color: white;
}