<mat-toolbar class="optionsBar" color="basic">
  <span>Aplicación cuidados</span>
  <div class="ob-actions-container">
    <button
      class="ob-button-parent"
      mat-raised-button
      (click)="openNewParentDialog()"
    >
      Añadir persona
    </button>
    <button
      class="ob-button-care"
      mat-raised-button
      (click)="openNewCareDialog()"
    >
      Añadir cuidado
    </button>
    <button
      class="ob-button-balance"
      mat-raised-button
      (click)="showBalance()"
    >
      Mostrar balance
    </button>
  </div>
</mat-toolbar>
