.ncd-container {
  width: 600px;
  height: 600px;
  position: relative;
}

.ncd-form-container {
  display: flex;
  flex-direction: column;
}

.ncd-input {
  max-width: 300px;
}

.ncd-dialog-actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
}