.ncd-container {
  width: 600px;
  height: 600px;
  position: relative;
}

.ncd-date-time {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ncd-form-container {
  display: flex;
  flex-direction: column;
}

.ncd-input {
  max-width: 300px;
}

.ncd-dialog-actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.ncd-date, .ncd-time {
  width: 47%;
}